*{
    padding: 0%;
    margin: 0%;
}

.menu_area {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0.5rem;
}
header>p{
    font-size: 2.5rem;
    font-weight: 700;
}
header>ul{
    display: flex;
}
header>ul>li{
    list-style-type: none;
    margin-left: 2rem;
}
header>ul>li>a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 800;
}
header>ul>li>a:hover{
    border-bottom: 5px solid gray;
}